# Python virtual environment
.venv/
venv/
env/

# Postman
.postman/
postman/

# Python cache
__pycache__/
*.py[cod]

# Test / tooling cache
.pytest_cache/
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db