# Python virtual environment
.venv/
venv/
env/

# Postman
.postman/
postman/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db