absl-py==2.5.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
astunparse==1.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
fastapi==0.141.1
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.83.0
h11==0.16.0
h5py==3.14.0
idna==3.19
joblib==1.5.3
keras==3.15.1
libclang==18.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.6.0
namex==0.1.0
narwhals==2.25.0
numpy==2.4.6
opt_einsum==3.4.0
optree==0.20.0
packaging==26.3
protobuf==7.36.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.21.0
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.17.1
six==1.17.0
starlette==1.6.0
tensorflow==2.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.52.4
wrapt==2.3.0
